/* Body */

.PageWrapper {
    display: flex;
    background-color: var(--body_background);
}

.Page{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--body_padding);
 }