.mes {
    float:left;
    width: 712px;
    background-color: var(--body_background);
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
}
.mes.active {
    max-height: 59px;
}
.mes.active svg {
    transform: rotate(180deg);
    transition: ease 0.2s;
}
.mes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin-left: 20px;
    margin-right: 24px;
}

.mes-head-wrap {
    display: flex;
}

.mes-info {
    margin-left: 15px;
}

.mes-heading {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--body_color2);
}

.mes-date {
    margin-top: 7px;
    color: #BABABA;
}

.arrow svg{
    width: 18px;
    height: 9px;
    stroke: var(--header_color);;
    transition: ease-in 0.2s;
}
.mes-body {
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--body_color2);
}